c fichier de configuration
c cle min max ecart
l TEMPERATURE -20.0 60.0  5.0
l T_W1 ? ? 5.0
l DRAI  0.0 1.0 1.0
l CONDITION ? ? ?
l L_W1 ? ? ?
l TAIR ? ? 5.0
l VENT ? ? 360.0
l T_05 ? ? 5.0
l T_04 ? ? 5.0
l T_03 ? ? 5.0
l T_02 ? ? 5.0
l T_01 ? ? 5.0
l Z_01 0.0 1.0 1.0
l Z_02 0.0 1.0 1.0
l Z_03 0.0 1.0 1.0
l Z_04 0.0 1.0 1.0
l Z_05 0.0 1.0 1.0
l RAIN 0.0 1.0 1.0
l CPT_DEBI ? ? ?
l PYRA ? ? ?
l WSPD ? ? ?
l UP01 ? ? 5.0
l P_01 ? ? ?
l P_02 ? ? ?
l P_03 ? ? ?
l PMP1 0.0 1.0 1.0
c limite jour limite nuit (hh:mm:ss)
h 20:00:00 07:00:00
